
/*swatch colors (Stolen from Onextrapixel)
-------------
13437a - dark blue
1d74be - mid blue
e1e1e1 - light gray
a3a4a4 - mid gray
8a8a8a - gray
======== */

/* GENERAL*/

html {
    background-color: #1d74be;
}

body {
    margin: 0 auto;
    font: 1em/1.5em sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}


 /* HEADER */

header {
    background-color: #e1e1e1;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 8em;
    position: relative;
}

header hgroup {
    /*margin: 0 auto;*/
    border-right: 1px solid #fff;
    display: inline-block;
    width: 400px;
    /*padding: 0 0.5em 0 0;*/
}

header hgroup h1 {
    font-size: 400%;
    margin: 0.5em 0;
}

header hgroup h2 {
    font-size: 300%;
}

header nav {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    /*display: inline-block;*/
}

.index, .search, .login{
    position: absolute;
}
.index {
    left: 5em
}
.search {
    left: 10em
}
.login {
    right: 5em
}

/* CONTENT */
article {
    background-color: #8a8a8a;
}

article header{
    font-weight: bold;
    font-size: 300%;
    margin: 1em 0;
}