<!DOCTYPE HTML>
<html lang="en">
<head>
	{% block head %}
	<title>{% block title %}{% endblock title%} - Wikiola</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/style.css" type="text/css">
	{% endblock head %}
</head>
<body>
	<header class="page-header">
		{% block header %}
			<nav>
				<div class="login-area">
				{% if user %}
					<a href="/logout" class="header-link">Log out</a>
				{% else %}
					<a href="/login" class="header-link">Log in</a> | <a href="/signup" class="header-link">Sign up</a>
				{% endif %}
				</div>
				<form method="post" action="/_search" class="search">
					<input type="text" class="search" name="page" value="" placeholder="Type here to search.">
				</form>
				<div class="history-area">
				{% if page_name %}
					<a href="/_history{{ page_name }}" class="header-link">Edit history</a> | 
				{% endif %}
					<a href="/_recent" class="header-link">Recent revisions</a>
				</div>

			</nav>
		{% endblock header %}
	</header>
	<div class="content">
		{% block content %}

		{% endblock content %}
	</div>
	<footer class="page-footer">
		{% block footer %}
		Written by <a href="https://github.com/romanlevin" title="Link to me on Github">Roman Levin</a>.
		{% endblock footer %}
	</footer>
</body>
</html>