
{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock title %}
{% block content %}
	{% if not page %}
		<h1>New page!</h1>
		<p>This page is empty. Why don't you write something?</p>
	{% else %}
		<h1>{{ page_name }}</h1>
	{% endif %}
	{% if user %}
		<form method="post">
			<textarea name="content" class='grid_12'>{{ revision.body }}</textarea>
			<input type="submit">
		</form>
	{% else %}
		<div class="error">Please log in to edit the wiki.</div>
	{% endif %}
{% endblock %}

