{% extends "base.html" %}
{% block title %}
    History - {{ page_name }}
{% endblock title %}
{% block content %}
    {% if revisions %}
    <ul class='striped grid_12'>
        {% for revision in revisions %}
        <li class=''>
            <div class="post-id grid_3">
                {{ revision.key().id() }}
            </div>
            <div class="post-content">
                {{ revision.body|truncate }}
            </div>
            <a class= 'post-view-link' href="{{ page_name }}?v={{ revision.key().id() }}">view</a>
            <a class="post-edit-link" href="/_edit{{ title }}?v={{ revision.key().id() }}">edit</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="error">This page has no edits.</div>
    {% endif %}
{% endblock %}

