{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock title %}
{% block content %}
    <section class="post">
        <header class="post-title">
            <h1>{{ page_name }}</h1>
        </header>
        <div class="post-content">{{ revision.body|safe }}</div>
        <footer class="post-time">{{ revision.date }}</footer>
    </section>
    <a href="/_edit{{ page_name }}?v={{revision.key().id()}}">Edit this page.</a>
{% endblock %}