{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock title %}
{% block content %}
	<article class='grid_8'>
		<header>
			<h1>{{ page_name }}</h1>
		</header>
		<div class='page-body'>
			{{ revision.body|safe }}
		</div>
		<footer>
			<time pubdate>
				{{ revision.date }}
			</time>
			<span>
				<a href="/_edit{{ page_name }}?v={{revision.key().id()}}">edit this page</a>
			</span>
		</footer>
	</article>
	<aside class='grid_4'>
		<section>
			<h1><a href="/_history{{ page_name }}">Recent Changes</a></h1>
			{% if revisions %}
			<ul>
				{% for rev in revisions %}
				<li>
					<a href="{{ page_name }}?v={{ rev.key().id() }}">
						{{ rev.body|truncate(50) }}
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</section>
    </aside>
{% endblock %}