<!DOCTYPE html>

<html>
    <head>
        <title>Wiki! - {{ title }}</title>
    </head>

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <body>
        <nav>
            {% if user%}
            <a href="/logout">Log out</a>
            {% else %}
            <a href="/login">Log in</a>|<a href="/signup">Sign up</a>
            {% endif %}
            <br>
            <a href="/_history{{ title}}">Edit history</a>
        </nav>
		<article class="post">
			<header class="post-subject">
                <h1>{{ title }}</h1>
            </header>
			<div class="post-content">{{ revision.body }}</div>
            <footer class="post-time">{{ revision.date }}</footer>
		</article>
        <a href="/_edit{{ title }}">Edit this page.</a>
    </body>
</html>