<!DOCTYPE html>
<html>
<head>
	<title>New User Signup</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
	<form method="post">
	<label>
		<div>username</div>
		<input type="text" name="username" value="{{ username }}">
	</label>

	<label>
		<div>password</div>
		<input type="password" name="password" value="">
	</label>

	<label>
		<div>verify password</div>
		<input type="password" name="verify" value="">
	</label>

	<label>
		<div>email</div>
		<input type="email" name="email" value="{{ email }}">
	</label>
			
	<div class="error">{{ error }}</div>
			
	<input type="submit">
</form>
</body>
</html>